<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: header">
</head>
<body >
<style type="text/css">
#htd { font-size: 12px;width:100px }
#tdv { font-size: 12px;width:100% }
#tdhpx { font-size: 12px;width:80px }
#tdh { font-size: 12px;width:200px }
#tabsize { border:1px solid DarkGray;width:99%;height:100%;cellspacing:1px }
th {
     font-size: 12px;
}
body {
	margin-left: 10px;
}
</style>
<script th:inline="javascript" type="text/javascript">
//<![CDATA[
	$(function(){
		$('#ff').form({
			success:function(data){
				$.messager.alert('Server', data);
			}
		});
	});
	
//]]>
</script>
<table border=0 >
	<tr>
		<td colspan="2">
			<table border=0 cellspacing="0" >
		    	<tr>
		    		<td><b><font color="blue"><label>path：</label></font></b></td>
		    		<td id="tdv"><b><font color="red" th:text="${zkpath}">zkpath</font></b></td>
		    	</tr>
		    </table>
		</td>
	</tr>
	<tr>
		<td align="left" valign="top"  >
		    <table border=0 cellspacing="0" width=300>
		    	<tr><td id="htd" colspan="2"><b><font color="blue"><label>节点ACL</label></font></b></td></tr>
		    		<!-- <c:forEach items="${acls}" var="acl"> -->
						<!--/*/ <th:block th:each="acl : ${acls}"> /*/-->
						<tr>
							<td id="htd"><label >采用的权限机制：</label></td>
							<td id="tdhpx" th:text="${acl.scheme}">acl.scheme</td>
						</tr>
						<tr>
							<td id="htd"><label >允许访问的用户：</label></td>
							<td id="tdhpx" th:text="${acl.id}">acl.id</td>
						</tr>
						<tr>
							<td id="htd" valign="top"><label >权限组：</label></td>
							<td id="tdhpx" th:text="${acl.perms}">acl.perms</td>
						</tr>
						<!--/*/ </th:block> /*/--> 
					<!-- </c:forEach> -->
			</table>
			</td>
			<td align="left" valign="top" rowspan="2">
				<!-- <form id="ff" action="zk/saveData" method="post"> -->
					<table border=0 cellspacing="0">
			    		<tr>
			    			<td><b><font color="blue"><label>节点数据</label></font></b></td>
			    			<!-- <td align="right"><a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="javascript:$('#ff').submit();"><span data-locale-html="save">保存</span></a></td> -->
			    		</tr>
			    		<tr>
							<td align="left" valign="top" colspan="2">
								<textarea rows="20" name="data" cols="70" style="border:1px solid CornflowerBlue ;width:98%;margin: 3px;" th:text="${data}" readonly="readonly">data</textarea>
							</td>
						</tr>
			    	</table>
				<!-- </form> -->
			</td>
		</tr>
		<tr>
			<td align="left" valign="top"  >
				<table border=0 cellspacing="0" width=300>
		    		<tr><td colspan="2"><b><font color="blue"><label>节点元数据</label></font></b></td></tr>
		    		<tr><td id="htd"><label >数据长度：</label></td><td id="tdh" th:text="${dataLength}">dataLength</td></tr>
					<tr><td id="htd"><label >创建时间：</label></td><td id="tdh" th:text="${ctime}">ctime</td></tr>
					<tr><td id="htd"><label >最后更新时间：</label></td><td id="tdh" th:text="${mtime}">mtime</td></tr>
					<tr><td id="htd"><label >数据版本：</label></td><td id="tdh" th:text="${version}">version</td></tr>
					<tr><td id="htd"><label >子版本：</label></td><td id="tdh" th:text="${cversion}">cversion</td></tr>
					<tr><td id="htd"><label >ACL版本：</label></td><td id="tdh" th:text="${aversion}">aversion</td></tr>
					<tr><td id="htd"><label >暂时的所有者：</label></td><td id="tdh" th:text="${ephemeralOwner}">ephemeralOwner</td></tr>
					<tr><td id="htd"><label >子类数量：</label></td><td id="tdh" th:text="${numChildren}">numChildren</td></tr>
					<tr><td id="htd"><label >节点Zxid：</label></td><td id="tdh" th:text="${pzxid}"></td></tr>
					<tr><td id="htd"><label >创建 Zxid：</label></td><td id="tdh" th:text="${czxid}">czxid</td></tr>
					<tr><td id="htd"><label >修改Zxid：</label></td><td id="tdh" th:text="${mzxid}">mzxid</td></tr>
				</table>
			</td>		
		</tr>
</table>

</body>
</html>